/*------------------------------------*\
             couleurs
\*------------------------------------*/
$green: #96A92E;
$blue-grey: #697b86;
$color: black;
$white: white;


$duration: .3s;
$durationwrap: 1.2s;
$durationheader:.9s;