/*------------------------------------*\
           Liste des articles
\*------------------------------------*/

#articleliste .carte {
  display:none;
  margin:1%;
  width:47%;
  overflow:hidden;
}

.carte img {
  max-width:100%;
  position: relative;
  width:100%;
  height:275px;
}

.carte {
  display:block;
  margin: auto;
  overflow: hidden;
  width: 400px;
  background-color: lighten($blue-grey,40%);
  font-size:16px;
  box-shadow: 0 0 20px rgba(150,169,46,0.5);
  transition: box-shadow $duration;
}

.carte:hover{
  box-shadow: 0 0 50px rgba(150,169,46,0.9);
}

.carte-image{
  height: 275px;
  overflow: hidden;
  transition: height $duration;

  img{
    display: block;
    opacity: 1;
    transition: opacity $duration, transform $duration;
    transform: scale(1);
  }

  .carte:hover & img{
    opacity: 0.6;
    transform: scale(1.3);
  }
  .carte:hover &{
    height: 275px - 145px;
  }
}

.carte-body{
  position: relative;
  height: 95px;
  transition: height $duration;

  .carte:hover &{ height: 95px + 145px; }
}

.carte-description{
  overflow: hidden;
  position: absolute;
  top: 50px;
  left: 20px;
  right: 20px;
  bottom: auto;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 14px;
  line-height: 20px;
  opacity: 0;
  transition: opacity $duration - 0.1s, transform $duration - 0.1s;
  transition-delay: 0s;
  transform: translateY(25px);

  .carte:hover &{
    overflow: hidden;
    opacity: 1;
    transition-delay: 0.1s;
    transform: translateY(0);
  }
}

.carte-title{
  margin: 0;
  text-align: center;
  color: #000;
  font-weight: bold;

  .carte:hover &{
    animation: titleBlur $duration;
  }
}

.carte-description p {
  word-break:break-all;
}

@keyframes titleBlur {
  0%{
    opacity:0.6;
    text-shadow: 0 5px 5px rgba(0,0,0,0.6);
  }
  100%{
    opacity:1;
    text-shadow: 0 5px 5px rgba(0,0,0,0);
  }
}

/*------------------------------------*\
            carrousel
\*------------------------------------*/

.btn-group .btn-success {
  background-color: $green;
  border-right:solid 3px lighten($green,6%);
  border-left:solid 3px lighten($green,6%);
  margin-bottom: 20px;
  transition: $duration;
}
.btn-group .btn-success:first-child {
  border-left:none;
}

.btn-group .btn-success:last-child {
  border-right:none;
}

.btn-success {
  width:227px;
  height:20px;
  border-radius: 0;
  background-color: $green;
  border-color: $green;
}

.btn-success:hover {
  border: darken($green,5%);
}

.btn-group .btn-success:hover {
  background-color: darken($green,5%);
  border-right:solid 2px darken($green,6%);
  border-left:solid 2px darken($green,6%);
}

.btn-group {
  height: 23px;
}

.btn-group .active {
  background-color: darken($green,3%);
  border:darken($green,5%);
}

.btn .glyphicon {
  color: $white;
  margin-top: 0;
  height: 20px;
  width:100%;
  transition: $duration;
}

.btn .glyphicon:hover {
  color: $color;
}

.glyphicon {
  top: -6px !important;;
}

.carousel-inner {
  height: 100%;
  width:100%;
}

.carousel-inner img {
  height: 100%;
  width: 100%;
}

.item .carousel-caption h2{
  margin: 0;
  padding: 0;
  color: $white;
  line-height: 16px;
  font-size:14px!important;
  font-weight: bolder;
  text-align: left;
  text-shadow: 2px 2px 4px $color;
}

.carousel-inner .item .carousel-caption {
  position: absolute;
  bottom: -20px!important;
  left: 10px!important;

}

.btn-cent {
  bottom: 15px;
  text-align: center;
  height:20px;
}

.caroupad {
  padding-left: 0;
  padding-right: 0;
}

/*------------------------------------*\
           carrousel dans vue
\*------------------------------------*/

.article-title {
  color: $green;
  background-color: $blue-grey;
}

.article-title h1 {
  font-size: 25px;
  margin-top: 20px !important;
}

.carouvue .carousel-inner {
  height: min(75%);
  position: relative;
  top: 10px;
  margin:auto;
}

.carouvue .item img {
  height:475px;
  width:906px;
  margin:auto;
}

.desactiver {
  display: none;
}

.center-btn, .article-title  {
  text-align: center;
}

.center-btn {
  position: relative;
  top: -205px;
}

/*------------------------------------*\
            header
\*------------------------------------*/
.header-navbar {
  background-color: $green;
  height: 50px;
  z-index: 9999;
}

.header-title {
  display:block;
  text-align: center;
  height: auto !important;;
}


.header-title img {
  width: 130px;
  height:60px;
  float: left;
  margin-top: 20px;
}

.header-title h2 {
  padding:5px 0 !important;
  margin-top: 10px;
  font-size: 16px;
}

.header-title .header-title-titre {
  color: $color;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  padding-right: 112px;
  padding-bottom:8px;
}

.header-title-titre {
  margin-top: 0
}

.header-title-titre b {
  font-size:22px;
}

.under {
  text-transform: capitalize;
  text-decoration: none!important;
}

h2 .under {
  padding-bottom: 20px;
}

.big div {
  display: inline;
}

/*------------------------------------*\
           contact
\*------------------------------------*/
.contacts {
  text-align: center;
  padding-bottom: 75px;
}

.contacts .modal-body {
  text-align: left;
}

.contacts a, .contacts h1 {
  color: $green;
}

.contacts a:hover {
  color:$blue-grey;
}

/*------------------------------------*\
           filter
\*------------------------------------*/
.filters {
  margin:1% auto;
  padding:0;
  list-style:none;
  text-align: center;
  width: 906px;
}

.filters li {
  display: inline-block;
}

.filters li span {
  display: block;
  padding:10px 14px;
  color:$white;
  cursor: pointer;
  font-size:14px;
}

.filters li span.active {
  background: $green;
  color:#fff;
}

.menu-filters {
  background: $blue-grey;
}

.azer {
  height: 20px;
}
/*------------------------------------*\
           boite modal
\*------------------------------------*/
.modal-footer .btn-info, .modal-footer .btn-info:hover, .modal-header h3, .modal-body h3{
  text-transform: uppercase
}

.modal-footer .btn-info {
  background-color: $green;
  border: solid 2px darken($green, 15%);
  color: $color;
  transition: $duration;
}

.modal-footer .btn-info:hover {
  background-color: darken($green,15%);
  border: solid 2px $green;
  color: $white;
}

.article-object-col1, .article-object-col2 {
  display: inline-block;
  vertical-align: top;
}

.article-object-col1{
  width: 30%;
}

.article-object-col2{
  width: 60%;
}

.article-object-col1 p, .article-object-col2 p {
  padding: 0;
  word-wrap: break-word;
}

.article-object-col1 p, .modal-body h3, .modal-header h3 {
  color: $green;
}

.article-object-col2 strong, .contacts strong {
  font-weight:normal;
}

/*------------------------------------*\
            footer
\*------------------------------------*/

.fb-link .fb strong a {
  color: $white;
}

.fb-link .modal {
  padding-top: 50px;
}

footer .fb-link p {
  text-align: center!important;
  color: $color;
}

/*------------------------------------*\
           navbar
\*------------------------------------*/
.header-navbar ul {
  text-align: center;
}

.header-navbar ul li {
  display: inline-block;
  border-right: lighten($green, 5%) solid 4px;
}

.header-navbar ul li:last-child {
  border-right: none;
}

.header-navbar ul li:first-child{
  padding-left: 5px;
}

.header-navbar ul li a {
  margin-left: -5px;
  padding: 0 34px;
  font-size:14px;
  line-height:50px;
  text-transform: uppercase;
  display: inline-block;
  height:50px;
  transition: $durationheader;
}

.header-navbar ul li a:hover {
  background-color: darken($green, 5%);
  color: $color;
}

.header-navbar ul li .active {
  background-color: darken($green,6%);
}

.header-navbar ul li a:first-child:hover{
  padding-left: -10px;
}

.little {
  display: none;
}

/*------------------------------------*\
           barre navigation carousel
\*------------------------------------*/

.navigation-navbar ul {
  text-align: center;
}

.navigation-navbar ul li {
  display: inline-block;
  padding: 0 10px;
}

.navigation-navbar {
  position: relative;
  top: -190px;
}
.navigation-navbar li {
  text-transform: uppercase;
}

.navigation-navbar li a {
  color: $color;
}

.navigation-navbar li a:hover {
  color: $white;
}

.navigation-navbar li a:focus {
  text-decoration: none;
}
/*------------------------------------*\
          societe
\*------------------------------------*/
.societe h2 {
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: bold;
  color: $green;
  padding: 20px 10px;
  margin: 0;
}

.societe ul {
  margin-bottom: 0;
  margin-top: 0;
}

.societe p {
  text-align: justify;
}

.soci {
  height: 750px;
}

footer {
  background-color: $green!important;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80px;
}

p {
  padding:0 30px;
  margin-bottom: 0;
  margin-top: 10px;
}

.fb-link .fb a {
  color: $green;
}

.fb-link .fb a:hover {
  color: $blue-grey;
}