<% @title = 'contact' %>
<% @meta_description = "EFT2E Ingénierie est un bureau d'études spécialisé dans la réalisation des études de conception et d'exécution de fluides techniques et thermiques du bâtiment" %>
<% @meta_keyword = ' Etudes, Fluides, Thermiques, Energies, Environnement, bureau d études, énergies renouvelables, écoute, conseils, objectifs énergétiques, environnementaux, économiques, contacter'%>
  <div class="contacts content container-fluid">
    <h1>NOUS CONTACTER</h1>
    <h2>EFT2E INGÉNIERIE </h2>
    <p><strong>3C rue de Hochfelden</strong></p>
    <p> <strong>67170 Brumath</strong></p>
    <p><strong><b>Tel :</b> 03 60 84 00 68</strong></p>
    <p><strong><b>Fax :</b> 09 80 67 46 76</strong></p>
    <p><strong><b>Mail :</b> contact@eft2e-ingenierie.fr</strong></p>
    <p>Vous pouvez nous retrouver sur <strong><%= link_to('facebook' ,'https://www.facebook.com/eft2e.ingenierie', target: '_blank' )%></strong> et <strong><%= link_to('twitter' ,'https://twitter.com/EFT2E_Ing', target: '_blank' )%></strong></p>
    <p><a data-toggle="modal" href="#infos">Copiright</a> © 2016 EFT2E INGÉNIERIE.</p>
    <div class="modal" id="infos">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">x</button>
            <h3 class="modal-title">copiright</h3>
          </div>
          <div class="modal-body">
            <p>Tous droits réservés eft2e.fr</p>
            <p>Toutes les images et plants utilisées le sont avec l'autorisation des entreprises ou personnes les eyant
              realiser</p>
          </div><!--/modalbody-->
          <div class="modal-footer">
            <button class="btn btn-info" data-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div><!--/modal-dialogue-->
    </div><!--/modal-->
  </div>
