<footer>
  <div class="fb-link">
    <p class="fb">Vous pouvez nous retrouver sur
      <strong>
        <%= link_to('facebook' ,'https://www.facebook.com/eft2e.ingenierie', target: '_blank' )%>
      </strong>
        et
      <strong>
        <%= link_to('twitter' ,'https://twitter.com/EFT2E_Ing', target: '_blank' )%>
      </strong>
        ou sur notre
      <strong>
        <%= link_to('page de contact', contact_path) %>
      </strong>
  </div>
    </p>
</footer>