<footer>
  <div class="fb-link">
    <p class="fb">Vous pouvez nous retrouver sur
      <strong>
        <%= link_to('facebook' ,'https://www.facebook.com/eft2e.ingenierie', target: '_blank' )%>
      </strong>
        et
      <strong>
        <%= link_to('twitter' ,'https://twitter.com/EFT2E_Ing', target: '_blank' )%>
      </strong>
        ou sur notre
      <strong>
        <%= link_to('page de contact', contact_path) %>
      </strong>
    </p>
    <p class="fb fb-link">
      <strong><a data-toggle="modal" href="#info">Copiright</a></strong>
      © 2016 EFT2E INGÉNIERIE.</p>
    <div class="modal" id="info">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">x</button>
            <h3 class="modal-title">copiright</h3>
          </div>
          
          <div class="modal-body">
            <div content="modal-title">
              <h4>Société</h4>
            </div>
            <p>EFT2E INGENIERIE</p>
            <P>3 C RUE DE HOCHFELDEN 67170 BRUMATH</P>
            <P>TEL/FAX:09 80 67 46 76</P>
            <P>EURL au capital de 5000 euros</P>
            <p>SIRET: 80086565100015</p>
            <p>APE: 7112B</p>
            <p>Representé par M EDEL julien</p>
            <div content="modal-title">
              <h4>Hebergement</h4>
            </div>
              <p>OVH</p>
              <p>SAS au capital de 10 000 000 €</p>
              <p>RCS Roubaix- tourcoing 424 761 419 00045</p>
              <p>Code APE: 6202A</p>
              <p>N TVA: RF 22 424 761 419</p>
              <p>Siège social : 2 rue Kellermann - 59100 Roubaix - France.</p>
            <h4>Copiright</h4>
              <p>Tous droits réservés a EFT2E ingénierie</p>
            <p>Toutes les images et plants sont utilisées avec l'autorisation des auteurs</p>
          </div><!--/modalbody-->
          <div class="modal-footer">
            <button class="btn btn-info" data-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div><!--/modal-dialogue-->
    </div><!--/modal-->
  </div>
</footer>
